<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name=viewport content="user-scalable=no,width=device-width" />
<link rel="stylesheet" href="float.css" type="text/css">
</head>
<body style="border: 1px solid red;">
	<div style="border:1px gray solid;">block 1
	<span style="border:1px red solid;">inline 1-1</span>
	<span style="border:1px red solid;">inline 1-2</span>
	</div>
	<div style="border: 1px gray solid; text-align: center; width:100px">block 2</div>
	<div style="border: 1px gray solid; text-align: center; width:100px">block 3</div>
	
	<span style="border:1px gray solid;">inline 1</span>
	<span style="border:1px gray solid;">inline 2</span>
	
	<br/>
	
	<div style="border: 1px solid red; display: inline;">div - inline - 1</div>
	<div style="border: 1px solid red; display: inline">div - inline - 2</div>
	<br/>
	<span style="border: 1px solid blue; display: block;">span - block - 1</span>
	<span style="border: 1px solid blue; display: block;">span - block - 2</span>
	
	<br/>
	<br/>
	<br/>
	
	<div id="header" style="border: 1px solid red;">header</div>
	<div id="container" style="border: 1px solid red;">
		<div id="lnb" style="border: 1px solid red;">left</div>
		<div id="content" style="border: 1px solid red;">content</div>
		<div class="clear"></div>
	</div>
	<div id="footer" style="border: 1px solid red;">footer</div>
	
	<br/>
	<br/>
	<br/>
	
	<ul>
		<li style="border: 1px solid red;">
			<span>test1</span>
			<span>test2</span>
		</li>
	</ul>	
	
</body>
</html>
