<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name=viewport content="user-scalable=no,width=device-width" />
</head>
<body>

<p style="float:left; background:blue; color:#fff;">float 된 요소111</p>
<div style="padding:10px; background:#eee;">
	<p style="float:left; background:blue; color:#fff;">float 된 요소222</p>
	<p style="padding:5px; border:1px solid red;">
		<span style="background:orange;">
		주위를 흐르는 인라인 박스
		</span>
	</p>
</div>

</body>
</html>
