<!DOCTYPE html>
<html>
<head>
<meta name=viewport content="user-scalable=no,width=device-width" />
<link rel=stylesheet href="../css/jquery.mobile.css" />
<script src="../js/jquery.js"></script>
<script src="../js/jquery.mobile.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="content">
			<ul data-role="listview" data-inset="true" data-filter="true">
				<li><a href="#">Acura</a></li>
				<li><a href="#">Audi</a></li>
				<li><a href="#">BMW</a></li>
				<li><a href="#">Cadillac</a></li>
				<li><a href="#">Ferrari</a></li>
			</ul>
		</div>
	</div>
</body>
</html>

<body class="ui-mobile-viewport ui-overlay-c">
	<div data-role="page"
		data-url="/caca/GitRepository/HobbyProject/view/listview1.html"
		tabindex="0" class="ui-page ui-body-c ui-page-active"
		style="min-height: 661px;">
		<div data-role="content" class="ui-content" role="main">
			<form class="ui-listview-filter ui-bar-c ui-listview-filter-inset"
				role="search">
				<div
					class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
					<input placeholder="Filter items..." data-type="search"
						class="ui-input-text ui-body-c">
						<a href="#"
						class="ui-input-clear ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-fullsize ui-btn-icon-notext ui-input-clear-hidden"
						title="clear text" data-corners="true" data-shadow="true"
						data-iconshadow="true" data-wrapperels="span" data-icon="delete"
						data-iconpos="notext" data-theme="c" data-mini="false"><span
						class="ui-btn-inner ui-btn-corner-all"><span
							class="ui-btn-text">clear text</span><span
							class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a>
				</div>
			</form>
			<ul data-role="listview" data-inset="true" data-filter="true"
				class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
				<li data-corners="false" data-shadow="false" data-iconshadow="true"
					data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"
					data-theme="c"
					class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-top ui-btn-up-c"><div
						class="ui-btn-inner ui-li ui-corner-top">
						<div class="ui-btn-text">
							<a href="#" class="ui-link-inherit">Acura</a>
						</div>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</div></li>
				<li data-corners="false" data-shadow="false" data-iconshadow="true"
					data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"
					data-theme="c"
					class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div
						class="ui-btn-inner ui-li">
						<div class="ui-btn-text">
							<a href="#" class="ui-link-inherit">Audi</a>
						</div>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</div></li>
				<li data-corners="false" data-shadow="false" data-iconshadow="true"
					data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"
					data-theme="c"
					class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div
						class="ui-btn-inner ui-li">
						<div class="ui-btn-text">
							<a href="#" class="ui-link-inherit">BMW</a>
						</div>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</div></li>
				<li data-corners="false" data-shadow="false" data-iconshadow="true"
					data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"
					data-theme="c"
					class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c"><div
						class="ui-btn-inner ui-li">
						<div class="ui-btn-text">
							<a href="#" class="ui-link-inherit">Cadillac</a>
						</div>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</div></li>
				<li data-corners="false" data-shadow="false" data-iconshadow="true"
					data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"
					data-theme="c"
					class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-li-last ui-btn-up-c"><div
						class="ui-btn-inner ui-li">
						<div class="ui-btn-text">
							<a href="#" class="ui-link-inherit">Ferrari</a>
						</div>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</div></li>
			</ul>
		</div>
	</div>

	<div class="ui-loader ui-corner-all ui-body-a ui-loader-default">
		<span class="ui-icon ui-icon-loading"></span>
		<h1>loading</h1>
	</div>
</body>