<!DOCTYPE html>
<html>
<head>
<meta name=viewport content="user-scalable=no,width=device-width" />
<link rel=stylesheet href="../css/jquery.mobile.css" />
<script src="../js/jquery.js"></script>
<script src="../js/jquery.mobile.js"></script>
</head>

<body>

	<div data-role="page">
		<div data-role="header">
			<h1>Window Title</h1>
		</div>

		<div data-role="content">
			<p>Window Content</p>
			<a href="#win2">Goto win..</a>
		</div>
		<div data-role="footer">
			<h1>Footer</h1>
		</div>
	</div>
</body>
</html>