<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>Touch Event Logger</title>
<link rel=stylesheet href="../css/jquery.mobile.css" />
<script src="../js/jquery.js"></script>
<script src="../js/jquery.mobile.js"></script>
<script src="../js/touch.js"></script>
<style>
* {
	font-size:12px;
}
</style>
</head>
<body>
	<h1>touchstart.</h1>
	<p id="start" class="list"></p>
	<h1>touchmove.</h1>
	<p id="move" class="list"></p>
	<h1>touchend.</h1>
	<p id="end" class="list"></p>
</body>
</html>
